%h1 About this Application:

%p This application displays the current in-progress Trello cards for the engineering department.
%p When a card is complete, it will turn green, indicating that it is done.

