!!!
%html{:lang => "en"}
  %head
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "/assets/ico/favicon.png", :rel => "shortcut icon"}/
    %title Starter Template for Bootstrap

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Engineering Matters
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/project"} Home
            %li 
              %a{:href => "/about"} About
      /.container
      .starter-template 
        = yield 
      / /.container
      /
        Bootstrap core JavaScript
        \==================================================
      / Placed at the end of the document so the pages load faster
